h1{
    background: #ec610a ;
    /* margin-left: 100px;
    margin-bottom: 200px */

    /* margin: 100; */


    /* margin: 200px 100px; */

    margin: 100px 750px 20px 500px;

}
p{
    background: #a40a3c;

    padding: 100px;
}
