body{
    font-family: 'Lato', sans-serif;
}
h2{
    font-weight: 300;
}
p{
    font-weight: 300;
}
.container{
    margin: 0 auto;
    /* width: 500px; */
    width: 90%;
}
.flex{
    display: flex;
    flex-wrap: wrap;  /* HAce que el ancho que se le da en % se ocupe todo */
}
.text-center{
    text-align: center;
}
.columna{
    background: rgb(238,238,238);
    color: #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius:10px;
    box-shadow: 10px 10px 5px #888;
    /* box-shadow: -10px -10px red; */
    /* box-shadow: -10px 10px red; */
    width: 23%;
     box-sizing: border-box;  /*Calcula el margen  */

}
.precio{
    font-size: 50px;
    color: #00dac7;
}
.btn-precio{
    background: salmon;
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn-precio:hover{
    background: rgb(250, 93, 75);
}
@media (max-width: 1070px) {
    .columna{
        width: 45%;
        margin-bottom: 20px ;
    }   
}
@media (max-width: 600px) {
    .columna{
        width: 100%;
        margin-bottom: 20px ;
    }   
}